#cadastre
{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #FAFAFA;
}

#form {
     width: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
}

#formContent {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #dde6f5;
  border: 1px solid #306BAC;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  text-decoration: none; 
  color: #fff;
  text-transform: uppercase 
}