* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cadastre {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #FAFAFA;
}

.heder {
  display: flex;
}

.back {
  position: absolute;
}

#form {
     width: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
}

#formContent {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #dde6f5;
  border: 1px solid #306BAC;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  text-decoration: none; 
  color: #fff;
  text-transform: uppercase 
}

.cadastreDates {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  width: 250px;
  background-color: #306BAC;
  border: 1px solid #306BAC;  
  border-radius: 5px;
  color: #fff
}

.cadastreDates:hover {
  background-color: #ffff;
  border: 1px solid #306BAC;   
  color: #306BAC; 
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
